extends default

block content

    div.main
        // a table  
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Parking Bay ID</th>
                    <th scope="col">Location</th>
                    <th scope="col">Session Duration</th>
                    <th scope="col">Date</th>
                    <th scope="col">Start_time</th>
                    <th scope="col">Finsih_time</th>
                    <th scope="col">Status</th>
                    <th scope="col">Parking ID</th>
                </tr>
            </thead>
        
            <tbody>
                each hist in parkingHistorys
                    <tr>
                        <td> #{hist.registrationNumber}</td>
                        <td> #{hist.location}</td>
                        <td> #{hist.session}</td>
                        <td> #{hist.date}</td>
                        <td> #{hist.start}</td>
                        <td> #{hist.end}</td>
                        <td> #{hist.status}</td>
                        <td> #{hist.parkingID}</td>
                    </tr>
            </tbody>
        </table>
            p.text-center.mt-4
                    // link to the route used to feedback
                    a(href='/feedback') Have question on any parking session? Query Here
                    br
