extends default

block content

    div.main
        div 
            h3 Update My Information
            form(method="POST" action='update')
                div
                    label(for='password') Password:
                    input(type='text', placeholder='password' name='password' id='password' value=password)
                div
                    label(for='name') Name:
                    input(type='text', placeholder='name' name='name' id='name' value=name)
                div
                    label(for='gender') Gender:
                    input(type='text', placeholder='gender' name='gender' id='gender' value=gender)
                div
                    label(for='licenseId') Driver's License Id:
                    input(type='text', placeholder='licenseId' name='licenseId' id='licenseId' value=licenseId)
                div
                    label(for='CardHolderName') CardHolderName:
                    input(type='text', placeholder='CardHolderName' name='CardHolderName' id='CardHolderName' value=CardHolderName)
                div
                    label(for='CardNumber') CardNumber:
                    input(type='text', placeholder='CardNumber' name='CardNumber' id='CardNumber' value=CardNumber)
                div
                    label(for='expiryDate') expiryDate:
                    input(type='text', placeholder='expiryDate' name='expiryDate' id='expiryDate' value=expiryDate)
                div
                    label(for='CVV') CVV:
                    input(type='text', placeholder='CVV' name='CVV' id='CVV' value=CVV)

                button.btn.btn-primary.submit.mt-2.read-more(type='submit') Update

